body {
  padding: 30px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Raleway;
  background: $rootColor;
  color: $accentColor;
  height: 100%;
}

.content {
  min-height: calc(100vh - 70px);
}

// ========================= NAV =====================

nav {
  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-weight: 800;
    letter-spacing: 1.2px;

    li {
      cursor: pointer;
    }
  }
}
